.footer{
	background: #11131D;
	border-radius: 75px 75px 0px 0px;
	margin-top: 230px;
	padding-bottom: 41px;
	@include md-d{
		margin-top: 68px;
	}
	&__wrapper{
		position: relative;
		padding-top: 134px;
		padding-left: 400px;
		padding-right: 150px;
		display: flex;
		justify-content: space-between;
		@include xl-d{
			padding-left: 200px;
		}
		@include lg-d{
			flex-wrap: wrap;
		}
		@include md-d{
			align-items: center;
			justify-content: center;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
			flex-direction: column;
			padding-top: 230px;
		}
	}
	&__logo{
		position: absolute;
		left: 0;
		top: 100px;
		@include md-d{
			left: 50%;
			top: 82px;
			transform: translate(-50%, 0%);
		}
	}
	&__title{
		font-size: 16px;
		line-height: 24px;
		color: #FEDC00;
	}
	&__menu{
		a{
			font-family: 'Hiragino Sans GB';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			transition: 0.3s linear;
			&:hover{
				color: $accent;
				transition: 0.3s linear;
			}
		}
	}
	&__list{
		margin-top: 48px;
	}
	&__item{
		margin-top: 15px;
		&:first-child{
			margin-top: 0;
		}
	}
	&__social{
		svg{
			path{
				fill: #fff;
			}
			&:hover{
				path{
					fill: $accent;
				}
			}
		}
		a{
			margin-right: 30px;			
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&__social-wrapper{
		margin-top: 48px;
	}
	&__wallet{
		margin-top: 100px;
	}
	&__wallet-content{
		margin-top: 48px;
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 17.817px;
		line-height: 25px;
		color: rgba(255, 255, 255, 0.75);
	}
	&__contacts-city{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;
		margin-top: 48px;
	}
	&__remark{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: rgba(101, 102, 105, 0.75);
		margin-top: 177px;
		span{
			color: $accent;
		}
	}
}