.intro{
	margin-top: 400px;	
	background: linear-gradient(96.87deg, #736ECC -15.81%, #E2D77E 108.29%);
	position: relative;	
	@include xl{
		background-position: right 200px;
		border-radius: 75px 0px 0px 75px;
		margin-left: 4%;
	}
	@include md-d{
		margin-top: 350px;
	}	
	@include md-d{
		margin-top: 340px;
		min-height: 286px;
	}
	&__social{
		position: fixed;		
		left: 15px;
   	top: 50px;
		padding-top: 203px;
		padding-bottom: 203px;
		z-index: 1000;
		&::before,
		&::after{
			content: '';
			position: absolute;
			left: 12px;
			width: 2px;
			background: rgba(7, 20, 72, 0.25);
			height: 153px;
			
			@include xxl-d{
				height: 100px;				
			}
			
			
		}
		&::before{
			top: 0px;
			@include xxl-d{
				top: 80px;
			}
		}
		&::after{
			bottom: 0;
			@include xxl-d{
				bottom: 80px;
			}
		}
		@include xxl-d{
			left: 20px;
		}
		@include xl-d{
			display: none;
		}
		@include xxl{
			top: 170px;
		}
	}
	&__list{
		display: flex;
		flex-direction: column;
	}	
	&__social-icons{
		margin-top: 36px;
		&:first-child{
			margin-top: 0;
		}
		svg{
			transition: 0.3s linear;
			&:hover{
				transition: 0.3s linear;
				path{
					fill: $accent;
					transition: 0.3s linear;
				}
			}
		}
	}
	&__wrapper{
		position: relative;
		@include xl{
			margin-left: 50px;
		}
		@include xxl{
			padding-left: 20px;
		}
	}
	&__timer-title{
		font-weight: 700;
		font-size: 28px;
		line-height: 60px;
		color: rgba(7, 20, 72, 0.75);
	}
	&__timer{
		display: flex;
		flex-direction: column;
		align-items: center; 
		position: absolute;
		padding: 28px 70px 40px 70px;
		background: rgba(7, 20, 72, 0.05);
		border-radius: 75px 75px 0 0;
		top: 0;
		left: 0; 
		transform: translateY(-100%); 
		@include sm-d{
			@include md-d{
				padding: 25px 20px 40px 20px;
			}
		} 
		@include xxl{
			margin-left: 20px;
		}    
		#clockdiv{            
			font-family: 'Hiragino Sans GB';
			font-style: normal;
			font-weight: 400;
			font-size: 27px;
			line-height: 40px;
			color: rgba(7, 20, 72, 0.75);
			 text-align: center;			             
			 display: flex; 
			 flex-wrap: nowrap;  
							
		}        
		
		#clockdiv > div{	
			 margin-right: 22px;
			 display: inline-block;
			 &:last-child{
				  margin-right: 0;
			 }
		}        
		#clockdiv div > span{
			 padding: 11px;
			 display: flex;
			 justify-content: center;
			 align-items: center;
			 background: rgba(255, 255, 255, 0.5);
			 border-radius: 20px;
			 display: inline-block;
			 width: 55px; 
			 
		}        
		.smalltext{            
				margin-top: 6px;
				font-family: 'Hiragino Sans GB';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: rgba(7, 20, 72, 0.45);         
		}
 	}
	&__total{
		@include md-d{
			display: none;
		}
		width: 480px;
		display: flex;
		flex-direction: column;
	}
	&__total-start{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.05em;
		color: rgba(7, 20, 72, 0.75);
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
	&__total-end{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: #FFFFFF;
		display: flex;
		justify-content: space-between;
	}
	&__total-goal{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}
	&__total-price{
		background: rgba(255, 255, 255, 0.55);
		border-radius: 5px;
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-top: 8px;
		align-self: center;
		width: 196px;
		height: 25px;
	}
	&__content{
		padding: 62px 0px 62px 0px;
		max-width: 580px;
		@include xl-d{
			max-width: 450px;
		}
		@include lg-d{
			width: 100%;
		}
		@include md-d{	
			position: absolute;
			left: 50%;
			top: 400px;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}
	&__text{
		font-family: "Hiragino Sans GB";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;
		margin-top: 25px;
		@include md-d{
			font-size: 16px;
			line-height: 24px;
			color: #11131D;
		}
	}
	&__img{
		max-width: 1100px;
		position: absolute;
		bottom: -125px;
		right: -200px;
		@include xl-d{
			right: -400px;
		}
		@include lg-d{
			max-width: 560px;
			bottom: -68px;
			right: -200px;
		}
		@include md-d{
			width: 500px;
			bottom: -346px;
			right: -80px;
		}
	}
	&__btn{
		margin-top: 50px;
		@include md-d{
		align-self: center;
		}
	}
	&__get{
		position: absolute;
		top: 57px;
   	right: 200px;
		transform: translateY(-120%);
		@include xl-d{
			top: 110px;
			right: 0px;
		}
		@include lg-d{
			top: 273px;
			right: -6px;				  
		}
		@include md-d{
			max-width: 85px;
			top: 60px;
   		right: 110px;
		}
		@include xs-d{
			top: 127px;
		}
	}
	&__save{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
		margin-left: 100px;
		@include md-d{
			margin-top: 600px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-left: 0;
		}
	}
	&__save-img{
		background: #11131D;
		border-radius: 50px;
		padding: 42px;
		min-width: 150px;
		@include sm-d{
			padding: 31px;
			min-width: 125px;
			border-radius: 39px;
		}
	}
	&__save-title{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: rgba(7, 20, 72, 0.35);
		margin-top: 18px;
		margin-bottom: 10px;
		margin-left: 30px;
		@include md-d{
			margin-left: 54px;
		}
		}
	&__save-wrapper{
		margin-left: -20px;
		@include sm-d{
			margin-left: -35px;
			margin-top: -10px;
		}
	}
	&__download{
		font-size: 24px;
		line-height: 38px;
		color: #11131D;
		background: rgba(7, 20, 72, 0.05);
		border-radius: 0 25px 25px 0;
		padding: 12px 12px 12px 50px;	
		display: flex;
		align-items: center;	
		justify-content: space-between;
		@include sm-d{
			font-size: 20px;
			line-height: 30px;	
		}
	}
	&__link{
			
			background: #071448;
			border-radius: 15px;
			padding: 15px 22px;
			margin-left: 74px;
			@include sm-d{
				margin-left: 50px;
			}
	}
	&__popup{
		position: relative;
		display: flex;
		flex-direction: column;
		display: none;
		border-radius: 15px;
		transition: 0.5s linear;
		@include xl-d{
			display: block;
		}
	}
	&__downline{
		display: flex;
		align-items: center;
		position: relative;
	}
	&__markdown{
		font-size: 70px;
		line-height: 50px;
		margin-left: 245px;
		width: 800px;
		margin-top: 70px;
		color: $colorH1;
		-webkit-text-stroke: 1px  rgba(7, 20, 72, 0.35);
		white-space: nowrap;
		transition: linear;
		@include md-d{
			margin-top: -550px;
			margin-left: -100%;
		}
	}
	&__downline-social{		
		width: 60px;
		height: 60px;
		position: fixed;
		z-index: 1000;
		left: 26px;
		bottom: 26px;
		overflow: hidden;
		transition: 0.5s linear;
		border-radius: 15px;
		background: $accent ;
		@include md-d{
			left: 40px;
		}
		@include sm-d{
			left: 20px;
			bottom: 20px;
		}
		&.active{
			transition: 0.5s linear;
			height: 310px;
			.intro__downline-icons{
				&:first-child{
					border-radius: 15px 15px 0 0;
					
				}
				&:last-child{
					border-radius: 0 0 15px 15px;
				}
			}
		}
		
		ul{
			
			li{
				&:last-child{
				position: relative;
				z-index: 2;
				}
			}
		}
	}
	&__downline-icons{
		background: #FEDC00;
		position: relative;
		z-index: 2;
		padding: 18px;
		
	}
	&__arrow{
		position: fixed;
		bottom: 67px;
		left: 28px;
		width: 58px;
		height: 40px;
		z-index: 1;
		background: #071448;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		padding-top: 8px;
		transition: 0.5s linear;
		
		@include md-d{
			left: 40px;
		}
		@include sm-d{
			left: 20px;
			bottom: 61px;
		}
		&.active{
			transition: 0.5s linear;
			bottom: 317px;
			svg{
				transition: 0.5s linear;
				transform: rotate(180deg);
			}
		}
	}
}