.coin{
	margin-top: 246px;
	position: relative;

	@include md-d{
		margin-top: 80px;
	}
	&__bg{
		height: 100%;
		width: 70px;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(7, 20, 72, 0.05);
		border-radius: 75px 0px 0px 75px;
		transform: rotate(180deg);
	}
	&__wrapper{
		margin-left: 100px;
		display: flex;
		justify-content: space-between;
		position: relative;
		@include lg-d{
			flex-direction: column;
			margin-left: 0;
			align-items: center;
		}
	}
	
	&__text{
		max-width: 525px;
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #404249;		
		p{
			margin-top: 25px;
		}
		@include xl-d{
			max-width: 425px;
		}
		@include md-d{
			font-size: 16px;
			line-height: 24px;
		}
	}
	&__card{
			display: flex;
			flex-direction: column;
			margin-top: 100px;
			position: relative;
			z-index: 2;
			@include xl-d{
				width: 585px;
			}
			@include lg-d{
				display: none;
				margin-top: 40px;
			}			
			&--visible{
				display: none;				
				@include lg-d{
					display: flex;					
				}
			}
	}
	&__copy{
		display: flex;	
		position: relative;
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 50px;
		color: rgba(7, 20, 72, 0.75);
		
		@include lg-d{
			font-size: 20px;
			line-height: 29px;
			align-items: center;
			align-self: center;
		}
	}
	&__link{
		padding: 15px;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		background: rgb(231, 231, 231);
		border-radius: 15px;
		margin-left: 42px;
		transition: 0.3s linear;
		transform-style: preserve-3d;
		z-index: 200;			
		@include md-d{
			margin-left: 32px;
			padding: 8px;
		}

		&:hover{
			transition: 0.3s linear;
			cursor: pointer;
			background: rgb(154, 154, 154);
		}

		
	}
	&__copy-textt{
		position: absolute;
		right: 5px;
		top: 0;
		font-size: 12px;
		color: #000;
		z-index: 1;				
				
		&.active{			
			animation: copied 1s;
			opacity: 0;
			@keyframes copied {
				0%{					
					top: 0;
					opacity: 0;
				}
				50%{					
					top: 40px;
					opacity: 1;
				}
				100%{
					opacity: 0;
				}
			}
		}
		
	}
	&__remark{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.26em;
		color: rgba(7, 20, 72, 0.45);
		align-self: center;
		margin-top: 35px;
		@include lg-d{
			font-size: 12px;
			line-height: 18px;
			margin-top: 15px;
			text-align: center;
		}
	}
	&__video{
		@include xl-d{
			max-width: 450px;
			margin-right: 40px;
		}
		@include lg-d{
			margin-right: 0;
			max-width: 425px;
		}
	}
}