.city{
	margin-top: 190px;
	display: flex;
	flex-direction: column;
	@include lg-d{
		margin-top: 100px;
	}
	&__title{
		span{
			color: $accent;
		}
		width: 422px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-content: center;
		margin: 0 auto;
		@include sm-d{
			width: 308px;
		}
	}
	&__img{
		@include lg-d{
			margin-top: 90px;
		}
		@include sm-d{
			margin-top: 68px;	
		}
	}
	&__remark{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		color: rgba(7, 20, 72, 0.45);
		margin-top: 20px;		
	}
	&__wrapper{
		display: flex;
		margin-top: 130px;
		@include xl-d{
			flex-direction: column;
			align-items: center;
			margin-top: 80px;
		}
		
	}
	&__house{
		display: flex;
		max-width: 860px;
		flex-wrap: wrap;
		@include lg-d{
			flex-direction: column;
			align-items: center;
		}
	}
	&__box{
		height: 150px;
		background: #FFFFFF;
		box-shadow: 0px 162px 244px rgba(0, 0, 0, 0.07), 0px 48.8383px 73.5589px rgba(0, 0, 0, 0.0456112), 0px 20.2849px 30.5526px rgba(0, 0, 0, 0.035), 0px 7.33666px 11.0503px rgba(0, 0, 0, 0.0243888);
		border-radius: 50px;
		display: flex;
		font-size: 25px;
		line-height: 30px;
		position: relative;	
		padding-left: 184px;
		padding-top: 45px;
		margin-top: 42px;
		margin-right: 42px;
		background: url('/img/city-box.png') no-repeat;
		background-position: left bottom;

		span{
			color: $accent;
		}
		&--350{
			width: 350px;
			@include lg-d{
				width: 325px;
				height: 107px;
			}
		}
		&--400{
			width: 413px;
			@include lg-d{
				width: 325px;
				height: 107px;
			}
		}
		@include lg-d{
			font-size: 20px;
			line-height: 30px;
			border-radius: 25px;
			padding-left: 140px;
			margin-right: 0;
		}
	}
	&__box-img{
		position: absolute;
		left: 50px;
		bottom: 55px;
		@include lg-d{
			left: 35px;
			bottom: 20px;
			img,
			svg{
				max-width: 94px;
			}
		}
		&--big{			
				bottom: 35px;
				@include lg-d{
					bottom: -20px;
				}			
		}
		&--h52{
			@include lg-d{
				img{
					max-width: 52px;
				}
				
			}
		}
	}
	&__content{
		margin-top: 60px;
		max-width: 525px;
		p{
			font-family: 'Hiragino Sans GB';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #404249;
			margin-top: 25px;
			@include lg-d{
				font-size: 16px;
				line-height: 24px;
			}
		}
		h2{
			@include sm-d{
				margin-top: 12px;
			}
		}
		@include sm-d{
			max-width: 325px;
			align-self: flex-start;
		}
	}
	&__buttons{
		display: none;
		align-self: center;
		justify-content: center;
		
		@include md-d{
			display: flex;
			a{
				justify-content: center;
			}
		}
		@include xs-d{
			// margin-left: -40px;
		}
	}
}