.donate{
	padding-top: 98px;

	margin-left: 5px;
	@include lg-d{
		margin-top: 152px;
	}
	@include md-d{
		margin-top: 50px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		@include xl-d{
			flex-direction: column;
			align-items: center;
		}		
	}
	&__content{
		max-width: 580px;
		position: relative;
		@include lg-d{
			max-width: 525px;
		}
	}
	&__img-ua{
		position: absolute;
		left: -70px;
		top: 50%;
		transform: translateY(-50%);
		@include xl-d{
			max-width: 30px;
			top: 117px;
			left: 90%;
			transform: rotate(90deg);
		}
		@include sm-d{
			top: 89px;
		}
	}
	&__remark{
		@extend %mont400;
		font-size: 16px;
		line-height: 24px;
		color: #404249;
		margin-top: 25px;
		@include md-d{
			font-size: 16px;
			line-height: 24px;
			margin-top: 25px;
		}
	}	
	&__icons{
		display: flex;
		flex-wrap: wrap;	
		margin-top: 40px;
			
		 @include xl-d{
			 margin-left: 25px;
		 }
		 @include lg-d{
			margin-left: 0;
		 }
		 @include md-d{
			flex-wrap: nowrap;			
			align-items: center;
			justify-content: center;
		}
	}
	&__icons-wrapper{
		display: flex;
		@include md-d{
			flex-direction: column;
			align-items: center;
		}
	}
	&__copy{
		display: flex;	
		@extend %mont400;
		font-size: 35px;
		line-height: 50px;
		color: rgba(7, 20, 72, 0.75);
		@include lg-d{
			font-size: 20px;
			line-height: 29px;
			align-items: center;
			align-self: center;
		}
	}
	&__link{
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(7, 20, 72, 0.05);
		border-radius: 15px;
		margin-left: 42px;
		transition: 0.3s linear;
		@include md-d{
			margin-left: 32px;
			padding: 8px;
		}
		&:hover{
			transition: 0.3s linear;
			cursor: pointer;
			background: rgba(7, 20, 72, 0.2);
		}
	}
	&__icons-box{
		background: #736ECC;
		border-radius: 30px;
		height: 183px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0px 30px 0px;
		transition: 0.4s linear;
		margin-right: 25px;
		margin-bottom: 25px;
		font-size: 18px;
		color: #fff;
		line-height: 19px;
		@include md-d{
			justify-content: center;
			padding: 10px 0px 10px 0px;
		}
		&--158{
			width: 158px;
			@include md-d{
				width: 150.23783874511733px;
				height: 279.9513854980471px;				
			}
		}
		&--338{
			width: 338px;
			@include md-d{
				width: 150.23783874511733px;
				height: 129.7135467529298px;
			}
		}
		&--nomg{
			@include md-d{
				margin-right: 0;
			}
			
		}
		svg{
			transition: 0.4s linear;
			path{
				transition: 0.4s linear;
				fill: #ffffff;
			}
		}
		&:hover{
			transition: 0.4s linear;
			background: $accent;
			color: #000;
			svg{
				transition: 0.4s linear;
				path{
					fill: #000;
				}
			}
		}
	}
	&__picture{
		display: flex;
		flex-direction: column;
		position: relative;
		@include xl-d{
			margin-top: 49px;
		}
	}
	&__img-abs{
		position: absolute;		
		z-index: 10;
		&--heart{
			right: -100px;
			top: -90px;
		}
		&--tree{
			top: -65px;
    		left: -179px;
			@include lg-d{
				display: none;
			}
		}
		&--trizub{
			left: 50%;
			top: -120px;
			@include lg-d{
				display: none;
			}
		}
	}
	&__images{
		
		display: flex;
		@include md-d{
			flex-direction: column;
			align-items: center;
		}
	}
	&__images-wrapper{
		margin-left: 20px;
		@include md-d{			
			margin-left: 0;
		}
	}
	&__images-box{
		overflow: hidden;
		transition: 0.3s linear;
		&:hover{
			transition: 0.3s linear;
			img{
				transition: 0.3s linear;
				transform: scale(1.1);
			}
		}
		img{
			transition: 0.3s linear;
			object-fit: contain;
		}
		&--390{
			border-radius: 50px;		
			width: 390px;	
			height: 433px;
			img{
				border-radius: 50px;
			}
			@include md-d{
				width: 100%;
				height: 282px;
			}
		}
		&--352{
			border-radius: 40px;
			width: 352px;
			@include md-d{
				width: 140px;
				height: 263px;
				display: none;
			}
		}
		&--82{
			border-radius: 20px;
			width: 82px;
			margin-right: 20px;
			img{
				border-radius: 20px;
			}
		}
		&--60{
			border-radius: 20px;
			width: 60px;
			img{
				border-radius: 20px;
			}
		}
		&--165{
			border-radius: 30px;
			img{
				border-radius: 30px;
			}
		}
		&--181{
			border-radius: 30px;
			img{
				border-radius: 30px;
			}
			@include md-d{
				width: 140px;
				height: 263px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__small-images{
		margin-top: 20px;
		display: flex;
	}
	&__delivery{
		display: flex;
		flex-direction: column;
	}
	&__three{
		display: flex;
		margin-right: 20px;
		margin-bottom: 20px;
		
	}
	.coin__card{
		margin-top: 40px;
	}
	.coin__copy{
		align-self: center;		
	}
	.coin__card{
		justify-content: center;
	}
}