.market{
	position: relative;
	
	&__bg{
		height: 470px;
		width: 100%;					
		background: $accent;		
		margin-left: 10%;
		position: absolute;
		left: 5%;
		top: -30%;	
		border-radius: 75px 0px 0px 75px;
		img{
			height: 100%;
			width: 100%;
			opacity: 0.15;
			border-radius: 75px 0px 0px 75px;
		}
	}
	&__title{
		margin-top: 350px;
		position: relative;
		z-index: 2;
		text-align: center;
		margin-right: 150px;
		
	}
	&__wrapper{
		position: relative;
		display: flex;
		justify-content: space-between;
		z-index: 2;
		margin-top: 80px;
	}
	&__box{
		position: relative;
		z-index: 2;
		background: #FFFFFF;
		box-shadow: 0px 162px 244px rgba(0, 0, 0, 0.07), 0px 48.8383px 73.5589px rgba(0, 0, 0, 0.0456112), 0px 20.2849px 30.5526px rgba(0, 0, 0, 0.035), 0px 7.33666px 11.0503px rgba(0, 0, 0, 0.0243888);
		border-radius: 50px;
		padding: 10px 80px 40px 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 472px;
		&:nth-child(2){
			.market__img{
				margin-left: -60px;
			}
		}
		
	}
	&__img{
		height: 180px;
	}
	&__text{
		font-size: 25px;
		line-height: 30px;
		margin-top: 20px;
		span{
			color: #FEDC00;
		}
	}
	&__button{
		margin-top: 30px;
	}
}