@font-face {
    font-family: "Ermilov";
    src: url("/fonts/Ermilov.otf") format("opentype");
}
@font-face {
    font-family: "Hiragino Sans GB";
    src: url("/fonts/hiragino.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


%mont400{
	font-family: 'Montserrat', sans-serif;	
	font-style: normal;
	font-weight: 400;
  }
  %mont300{
	font-family: 'Montserrat', sans-serif;	
	font-style: normal;
	font-weight: 300;
  }
body {
    font-family: "Ermilov";
    font-style: normal;
    font-weight: 700;
	color: #000000;
}

h1 {
	font-size: 45px;
	line-height: 50px;
	font-weight: 700;	
	@include md-d{		
		color: #11131D;
	}
}

h2 {
	font-size: 45px;
	line-height: 50px;
	@include md-d{
		font-size: 35px;
		line-height: 52px;
	}
}

.upline {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 1em;
    text-transform: uppercase;
    opacity: 0.5;
}