.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;    
    font-weight: bold;
    z-index: 50;
	 cursor: pointer;
	 
		font-size: 16px;
		line-height: 24px;		
		color: #071448;
	 
    &--140 {
        width: 140px;
        height: 55px;
		  background: $accent; 
    }
	 &--210 {
		width: 210px;
		height: 55px;
		background: transparent;
		border: 2px solid #FEDC00; 
  }
    &--hole {
               
        border-radius: 15px;
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        
        &:hover {
            box-shadow: 0 0 40px 40px white inset;
        }
    }
}

