.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;    
    font-weight: bold;
    z-index: 50;
	 cursor: pointer;
	 
		font-size: 16px;
		line-height: 24px;		
		color: #071448;

	 &--164{
		width: 164px;
		height: 55px;
		background: $accent; 
		&:hover{
			border: 2px solid $accent;
		}
		@include md-d{
			width: 325px;
		}
	 }
	 &--361{
		width: 361px;
		height: 54px;
		border-radius: 15px;
	 }
	 &--wallet{
		background: rgba(7, 20, 72, 0.05);
		font-weight: 300;
		font-size: 18px;
		line-height: 24px;
		color: rgba(7, 20, 72, 0.45);
	 }
	 &--confirm{
		background: $accent;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #071448;

	 }
	 &--326{
		width: 326px;
		height: 54px;
		border-radius: 15px;
	 }
	 &--claim{
		background: #DADADA;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #A3A4AB;
	 }
    &--140 {
        width: 140px;
        height: 55px;
		  background: $accent; 
		  &:hover{
			  border: 2px solid $accent;
		  }
		  @include md-d{
			  width: 325px;
		  }
    }
	 &--210 {
		width: 210px;
		height: 55px;
		background: transparent;
		border: 2px solid #FEDC00; 
		@include md-d{
			width: 325px;
		}
  }
  &--265 {
	width: 140px;
	height: 55px;
	background: $accent; 
	&:hover{
		border: 2px solid $accent;
	}
	@include lg-d{
		width: 265px;
	}
}
    &--hole {
               
        border-radius: 15px;
        -webkit-transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
        transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
        
        &:hover {
            box-shadow: 0 0 40px 40px white inset;
        }
    }
}

