.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(37px);	
	z-index: 9999;
}
.popup {
	position: absolute;
	width: 681px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(7, 20, 72, 0.65);
	border: 1px solid rgba(7, 20, 72, 0.05);
	border-radius: 75px;
	
	&__content {
		padding: 60px 41px 55px 43px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
			
	}
	&__title{
		font-family: 'Ermilov';
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 52px;
		text-align: center;
		color: #FFFFFF;
		margin-top: 30px;
	}
	&__line{
		width: 100%;
		height: 6px;
		background: rgba(7, 20, 72, 0.25);
		border-radius: 10px;
		margin-top: 15px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;top: 0;
			border-radius: 10px;
			height: 100%;
			width: 30%;
			background: $accent;
		}
		
	}
	&__summ{
		font-family: 'Hiragino Sans GB';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.05em;
		color: rgba(7, 20, 72, 0.45);
	}
	&__info{
		width: 100%;
		.form{
			margin-top: 40px;
			&__contain{
				background: #FFFFFF;
				border-radius: 15px;
				width: 288px;
				height: 54px;
				position: relative;
				overflow: hidden;
				&--uan{
					svg{
						position: absolute;
						right: 23px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				
			}
			&__text{
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: 'Ermilov';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
				height: 100%;
				left: 0px;
				border-radius: 15px;
				top: 0px;
				background: rgba(7, 20, 72, 0.05);
				&--sm{					
					width: 102px;
					color: rgba(7, 20, 72, 0.75);				
				}
				&--lg{
					width: 117px;
					
					color: rgba(7, 20, 72, 0.45);
				}
			}
			input{
				width: 100%;
				height: 100%;

			}
			.input__uan{
				font-family: 'Hiragino Sans GB';
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 24px;
				text-align: right;
				color: rgba(7, 20, 72, 0.75);
				padding-right: 45px;
			}
			.input__name{
				font-family: 'Hiragino Sans GB';
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 24px;
				color: rgba(7, 20, 72, 0.25);
				padding-left: 142px;
				&::placeholder{
					font-family: 'Hiragino Sans GB';
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 24px;
					color: rgba(7, 20, 72, 0.25);
					
				}
			}
			&__double{
				display: flex;
				justify-content: space-between;
				margin-top: 20px;
			}
		}
	}
	
	input {		
		&:active,
		&:focus {
			
		}
	}
	&__button {
      margin-top: 40px;
      align-self: center;
         a{
            font-size: 20px;
            line-height: 18px;            
            color: #071545;
            background: #F9D800;
            box-shadow: 0px 2px 3px 2px rgba(7, 21, 69, 0.6);
            border-radius: 20px;
            padding: 9px 31px;
            width: 115px;
		
      }
		
	}
}

.close-popup {
	position: absolute;
	top: -40px;
	right: -40px;
	width: 38px;
	height: 38px;
	cursor: pointer;
   background: #071545;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
}

