<header class="header">
	<div class="container">
		<div class="header__body">
			<div class="header__logo">
				<a href="#">
					<img src="/img/logo.png" alt="ua-coin">
				</a>
			</div>
			<div class="header__burger-bg">
				<div class="header__burger">
					<span></span>
				</div>
			</div>
			<nav class="header__menu">

				<ul class="header__list">
					<li class="header__item">
						<a href="#" class="header__link">NTF Market</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">About Us</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Free Coin</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">News</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Donate</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Tokenomic</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Smart IT City</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">FAQ</a>
					</li>
				</ul>
			</nav>
			<div class="header__meta">
				<a href="" class="header__meta-img">
					<img src="/img/fox.png" alt="fox">
					<div>
						Metamask
					</div>
				</a>
			</div>
		</div>
	</div>
</header>