<section class="intro">
	<div class="container">		
		<div class="intro__wrapper">
			<div class="intro__timer">
				<div class="intro__timer-title">
					Launching soon!
				</div>
				<div id="clockdiv">
					<div><span class="days"></span><div class="smalltext">days</div></div>
					<div><span class="hours"></span><div class="smalltext">hours</div></div>
					<div><span class="minutes"></span><div class="smalltext">minutes</div></div>
					<div><span class="seconds"></span><div class="smalltext">seconds</div></div>
				</div>
			</div>
			<div class="intro__content">
				<h1 class="intro__title">
					Private Sale
					4200000 UA COIN
				</h1>
				<div class="intro__text">
					We are a team of crypto enthusiasts from Ukraine who have consolidated the efforts and marketing
					resourcesat
					creating the UA COIN project!
				</div>
				<div class="intro__btn ">
					<a href="#" class="btn btn--140 btn--hole">Buy Now!</a>
				</div>
			</div>
			<div class="intro__img">
				<img src="/img/intro-coin.png" alt="ua-coin">
				
			</div>
			<div class="intro__get">
				<img src="/img/get.png" alt="get free coin">
			</div>
		</div>		
	</div>
</section>

<div class="container">
	<div class="intro__save">
		<div class="intro__save-img">
			<img src="/img/pdf.png" alt="pdf">
		</div>
		<div class="intro__save-wrapper">
			<div class="intro__save-title">Download PDF Presentation</div>
			<div class="intro__download">
				<div class="intro__download-title">Whitelist</div>
				
					<a href="#" download="img/intro-coin.png" class="intro__link">
						<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 20H0V18H14V20ZM7 16L1 10L2.41 8.59L6 12.17V0H8V12.17L11.59 8.59L13 10L7 16Z" fill="#FEDC00"/>
						</svg>
					</a>
				
			</div>
		</div>
	</div>
</div>