<section class="coin">
	<div class="container">
		<div class="coin__wrapper">
			<div class="coin__content">
				<h2 class="coin__title">About UA Coin</h2>
				<div class="coin__text">
					<p>We are a team of crypto enthusiasts from Ukraine who have consolidated the efforts and marketing
						resources at creating the UA COIN project
					<p>We officially cooperate with charity foundations and public organizations that raise funds for the
						required help.</p>
					</p>
				</div>
				<div class="coin__card">
					<div class="coin__copy">
						<div>OX 0324 - 2524- 2424 75</div>
						<div class="coin__link">
							<img src="/img/cube.png" alt="copy">
						</div>
					</div>
					<div class="coin__remark">
						WALLET ADDRESS
					</div>
				</div>
			</div>
			<div class="coin__video">
				<img src="/img/YT.png" alt="youtube">
			</div>
		</div>
	</div>
</section>