<section class="mission">
	<h2 class="mission__title">Our Mission</h2>
	<div class="container">
		<div class="mission__wrapper">
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-1.png" alt="">
				</div>
				<div class="mission__text">
					Purchase for fiat (buying crypto for real money, for example, from a bank card)
				</div>
			</div>
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-2.png" alt="">
				</div>
				<div class="mission__text">
					Mint, buying, collecting and staking nft
				</div>
			</div>
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-3.png" alt="">
				</div>
				<div class="mission__text">
					Education through nft, learn - earn
				</div>
			</div>
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-4.png" alt="">
				</div>
				<div class="mission__text">IT city with free houses!</div>
			</div>
		</div>
		<div class="mission__buttons">
			<a href="#" class="btn btn--140 btn--hole">Buy Now!</a>
			<a href="#" class="btn btn--210 btn--hole">Go To NFT Market</a>
		</div>
	</div>
	<div class="start">
		<div class="container">

		</div>
	</div>
</section>