<section class="mission">
	<h2 class="mission__title">Our Mission</h2>
	<div class="container">
		<div class="mission__wrapper">
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-1.png" alt="">
				</div>
				<div class="mission__text">
					Purchase for fiat (buying crypto for real money, for example, from a bank card)
				</div>
			</div>
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-2.png" alt="">
				</div>
				<div class="mission__text">
					Mint, buying, collecting and staking nft
				</div>
			</div>
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-3.png" alt="">
				</div>
				<div class="mission__text">
					Education through nft, learn - earn
				</div>
			</div>
			<div class="mission__box">
				<div class="mission__img">
					<img src="/img/miss-4.png" alt="">
				</div>
				<div class="mission__text">IT city with free houses!</div>
			</div>
		</div>
		<div class="mission__buttons">
			<a href="#" class="btn btn--140 btn--hole">Buy Now!</a>
			<a href="#" class="btn btn--210 btn--hole">Go To NFT Market</a>
		</div>
	</div>
	<div class="start">
		<div class="small-container">
			<div class="start__wrapper">
				<div class="start__row">
					<div class="start__year">
						<div class="start__month">May</div>
						<div class="start__month">June</div>
						<div class="start__month">July</div>
					</div>
					<div class="start__content">
						<div class="start__visible">May</div>
						<div class="start__box  start__box--first">
							<div class="start__text">Launching of the website</div>
							<div class="start__text">Registration of the humanitarian department</div>
							<div class="start__text">Finishing private sales (250000$)</div>
						</div>
						<div class="start__visible">June</div>
						<div class="start__box">
							<div class="start__text">Finishing private sales (250000$)</div>
							<div class="start__text">The ability to purchase crypto currency via VISA and MasterCard</div>
							<div class="start__text">Launching the NFT UA altcoin</div>
						</div>
						<div class="start__visible">July</div>
						<div class="start__box">
							<div class="start__text">The presentation of NFT UA coin collection</div>
							<div class="start__text">Launching NFT Market (mint)</div>
							<div class="start__text">Registrstion of MarketCup</div>
						</div>
					</div>
				</div>
				<div class="start__row">
					<div class="start__year">
						<div class="start__month">October</div>
						<div class="start__month">September</div>
						<div class="start__month">August</div>
					</div>
					<div class="start__content start__content--reverse">
						<div class="start__column">
							<div class="start__visible">October</div>
							<div class="start__box">
								<div class="start__text">Launching of the website</div>
								<div class="start__text">Registration of the humanitarian department</div>
								<div class="start__text">Finishing private sales (250000$)</div>
							</div>
						</div>
						<div class="start__column">
							<div class="start__visible">September</div>
							<div class="start__box">
								<div class="start__text">Finishing private sales (250000$)</div>
								<div class="start__text">The ability to purchase crypto currency via VISA and MasterCard</div>
								<div class="start__text">Launching the NFT UA altcoin</div>
							</div>
						</div>
						<div class="start__column">
							<div class="start__visible">August</div>
							<div class="start__box">
								<div class="start__text">The presentation of NFT UA coin collection</div>
								<div class="start__text">Launching NFT Market (mint)</div>
								<div class="start__text">Registrstion of MarketCup</div>
							</div>
						</div>
					</div>
				</div>
				<div class="start__row">
					<div class="start__year">
						<div class="start__month">November</div>
						<div class="start__month">December</div>
						<div class="start__month">January</div>
					</div>
					<div class="start__content">
						<div class="start__visible">November</div>
						<div class="start__box">
							<div class="start__text">Launching of the website</div>
							<div class="start__text">Registration of the humanitarian department</div>
							<div class="start__text">Finishing private sales (250000$)</div>
						</div>
						<div class="start__visible">December</div>
						<div class="start__box">
							<div class="start__text">Finishing private sales (250000$)</div>
							<div class="start__text">The ability to purchase crypto currency via VISA and MasterCard</div>
							<div class="start__text">Launching the NFT UA altcoin</div>
						</div>
						<div class="start__visible">January</div>
						<div class="start__box">
							<div class="start__text">The presentation of NFT UA coin collection</div>
							<div class="start__text">Launching NFT Market (mint)</div>
							<div class="start__text">Registrstion of MarketCup</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>