<section class="form">
	<div class="form__bg"></div>
	<div class="container">

		<div class="form__wrapper">
			<div class="form__heart">
				<img src="/img/heart.png" alt="heart">
			</div>
			<div class="form__content">
				<h2 class="form__title">For a Support</h2>
				<div class="form__remark">We are a team of crypto enthusiasts from Ukraine who have consolidated the efforts
					and marketing resourcesat creating the UA COIN project!</div>
				<form action="" class="form__inner">
					<div class="form__entry">
						<div class="form__before">Name</div>
						<input type="name" placeholder="Elon Musk">
					</div>
					<div class="form__entry">
						<div class="form__before">E-mail</div>
						<input type="email" placeholder="musk@spacex.c">
					</div>
					<div class="form__entry">
						<div class="form__before">Phone</div>
						<input type="name" placeholder="Example: +2 3435 345 65 34">
					</div>
					<div class="form__button">
						<button type="submit" class="btn btn--hole btn--164">Be a Partner</button>
					</div>
				</form>
			</div>
			<div class="form__image">
				<img src="/img/gerb.png" alt="gerb">
				<div class="form__absolute form__absolute--rocket">
					<img src="/img/raketa.png" alt="raketa">
				</div>
				<div class="form__absolute form__absolute--star1">
					<img src="/img/star.png" alt="star">
				</div>
				<div class="form__absolute form__absolute--star2">
					<img src="/img/star.png" alt="star">
				</div>
				<div class="form__absolute form__absolute--star3">
					<img src="/img/star.png" alt="star">
				</div>
			</div>
		</div>
	</div>
</section>