<section class="form">
	<div class="container">
		<div class="form__content">
			<h2 class="form__title"></h2>
			<div class="form__remark"></div>
			<form action="" class="form__inner">
				<div>
					<input type="name" placeholder="Elon Musk">
				</div>
				<div>
					<input type="email" placeholder="musk@spacex.c">
				</div>
				<div>
					<input type="name" placeholder="Example: +2 3435 345 65 34">
				</div>
				<div class="form__button">
					<button type="submit" class="btn btn--hole btn--164">Be a Partner</button>
				</div>
			</form>
		</div>
		<div class="form__image">
			<img src="/img/trizub.png" alt="trizub">
		</div>
	</div>
</section>