<section class="token" id="tokenomic">
	<div class="container">
		<div class="token__title">
			<h2>Tokenomic</h2>
		</div>
		<div class="token__wrapper">
			<div class="token__img">
				<img src="/img/token.png" alt="war">
				<div class="token__text">Total Supply  <br> 230 000 000</div>
			</div>
			<div class="token__img">
				<img src="/img/token-2.png" alt="after war">
				<div class="token__text">Emission <br>69 000 000</div>
			</div>
		</div>
		<div class="token__btn">
			<a href="#" class="btn btn--140 btn--hole">Buy Now!</a>
		</div>
	</div>
</section>