<section class="team">
	<div class="container">
		<div class="team__title">
			<h2>Our Team</h2>
		</div>
		<div class="team__wrapper">
			<div class="team__content">
				<div class="team__img team__img--right" class="team__img-main">
					<img src="/img/teams4.PNG" alt="team">

				</div>
				<div class="team__name">Evgeny Emelyanov</div>
				<div class="team__pos">
					<div class="team__position">Оvner</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			<div class="team__content">
				<div class="team__img team__img--right">
					<img src="/img/teams3.PNG" alt="team" class="team__img-main">
				</div>
				<div class="team__name">Svetlana Karastoyanov </div>
				<div class="team__pos">
					<div class="team__position">Strategic management</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>	
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/teams2.PNG" alt="team" class="team__img-main">	
				
				</div>
				<div class="team__name">Valeria Richard </div>
				<div class="team__pos">
					<div class="team__position">Public Relations</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/teams1.PNG" alt="team" class="team__img-main">	
								
				</div>
				<div class="team__name"> Andrey Tashchi </div>
				<div class="team__pos">
					<div class="team__position">Creative Director</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>	
			
			
		</div>
		
		<div class="team__buttons">
			<a href="#" class="btn btn--140 btn--hole">Watch More</a>
			<a href="#" class="btn btn--210 btn--hole">Join Our Team</a>
		</div>
	</div>
</section>
