<section class="team">
	<div class="container">
		<div class="team__title">
			<h2>Our Team</h2>
		</div>
		<div class="team__wrapper">
			<div class="team__content">
				<div class="team__img team__img--right" class="team__img-main">
					<img src="/img/teams4.webp" alt="team">

				</div>
				<div class="team__name">Evgeny Emelyanov</div>
				<div class="team__pos">
					<div class="team__position">Оvner</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			<div class="team__content">
				<div class="team__img team__img--right">
					<img src="/img/teams3.webp" alt="team" class="team__img-main">
				</div>
				<div class="team__name">Svetlana Karastoyanova </div>
				<div class="team__pos">
					<div class="team__position">Strategic director</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>	
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/teams2.webp" alt="team" class="team__img-main">	
				
				</div>
				<div class="team__name">Valeria Reehard </div>
				<div class="team__pos">
					<div class="team__position">Public Relations</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/teams1.webp" alt="team" class="team__img-main">	
								
				</div>
				<div class="team__name"> Andrey Tashi </div>
				<div class="team__pos">
					<div class="team__position">Creative Director</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>	
			
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/martiin.webp" alt="team" class="team__img-main">	
								
				</div>
				<div class="team__name"> Martin Laur </div>
				<div class="team__pos">
					<div class="team__position">Compliance Manager</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>	
			
		</div>
		
		<div class="team__buttons">
			<a href="#" class="btn btn--140 btn--hole">Watch More</a>
			<a href="#" class="btn btn--210 btn--hole">Join Our Team</a>
		</div>
	</div>
</section>
