<section class="team">
	<div class="container">
		<div class="team__title">
			<h2>Our Team</h2>
		</div>
		<div class="team__wrapper">
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/team-1.png" alt="team" class="team__img-main">	
								
				</div>
				<div class="team__name">Alex Smirnoff</div>
				<div class="team__pos">
					<div class="team__position">CEO</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			
			<div class="team__content">
				<div class="team__img team__img--left">
					<img src="/img/team-2.png" alt="team" class="team__img-main">	
					<img src="/img/team-bg-2.png" alt="" class="team__bg-yellow team__bg-yellow--2">
				
				</div>
				<div class="team__name">Kristina Samoilova</div>
				<div class="team__pos">
					<div class="team__position">CTO</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			<div class="team__content">
				<div class="team__img team__img--right">
					<img src="/img/team-3.png" alt="team" class="team__img-main">
					<img src="/img/team-bg-3.png" alt="" class="team__bg-yellow team__bg-yellow--3">
				</div>
				<div class="team__name">Ksenia Lika</div>
				<div class="team__pos">
					<div class="team__position">UX/UI Designer</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			<div class="team__content">
				<div class="team__img team__img--right" class="team__img-main">
					<img src="/img/team-4.png" alt="team">
					<img src="/img/team-bg-4.png" alt="" class="team__bg-yellow team__bg-yellow--4">

				</div>
				<div class="team__name">Dmitriy Buzov</div>
				<div class="team__pos">
					<div class="team__position">Marketing Team Lead</div>
					<div class="team__coin">UA Coin</div>
				</div>
			</div>
			
		</div>
		
		<div class="team__buttons">
			<a href="#" class="btn btn--140 btn--hole">Watch More</a>
			<a href="#" class="btn btn--210 btn--hole">Join Our Team</a>
		</div>
	</div>
</section>
