<section class="market" id="market">
	<div class="market__bg" >
		<img src="/img/market-bg.png" alt="bg">
	</div>
	<div class="container">

		<div class="market__title">
			<h2>Holding UA COIN</h2>
		</div>
		<div class="market__wrapper">
			<div class="market__box">
				<div class="market__img">
					<img src="/img/market-1.png" alt="market">
				</div>
				<div class="market__text"><span>Ua</span> NFT</div>
				<div class="market__button">
					<a href="#" class="btn btn--140 btn--hole btn--265">Watch More</a>
				</div>
			</div>
			<div class="market__box">
				<div class="market__img">
					<img src="/img/market-2.png" alt="market">
				</div>
				<div class="market__text"><span>Schools</span> NFT</div>
				<div class="market__button">
					<a href="#" class="btn btn--140 btn--hole btn--265">Watch More</a>
				</div>
			</div>
			<div class="market__box">
				<div class="market__img">
					<img src="/img/market-3.png" alt="market">
				</div>
				<div class="market__text"><span>IT City</span> NFT</div>
				<div class="market__button">
					<a href="#" class="btn btn--140 btn--hole btn--265">Watch More</a>
				</div>
			</div>
		</div>
	</div>
</section>