<section class="city">
	<div class="container">
		<div class="city__title">
			<h2><span>Smart</span></h2>
			<div class="title__logo">
				<img src="/img/logo.png" alt="ua-coin">
			</div>
			<h2>It City</h2>
		</div>
		<div class="city__remark">Brand new IT city in Odessa</div>
		<div class="city__img">
			<img src="/img/city.png" alt="it-city">
		</div>
		<div class="city__wrapper">
			<div class="city__house">
				<div class="city__box city__box--350">
					<div class="city__box-img">
						<img src="/img/house-1.png" alt="FREE 
						Houses">
					</div>
					<div class="city__box-title"><span>FREE</span>
						Houses</div>
				</div>
				<div class="city__box city__box--350">
					<div class="city__box-img">
						<img src="/img/house-2.png" alt="Working 
						Places">
					</div>
					<div class="city__box-title"><span>Working</span>
						Places</div>
				</div>
				<div class="city__box city__box--400">
					<div class="city__box-img">
						<img src="/img/house-3.png" alt="Infrastructure">
					</div>
					<div class="city__box-title">Infrastructure</div>
				</div>
				<div class="city__box city__box--350">
					<div class="city__box-img">
						<img src="/img/house-4.png" alt="it schools">
					</div>
					<div class="city__box-title"><span>IT</span><br>
						Schools</div>
				</div>
			</div>
			<div class="city__content">
				<h2>About IT City</h2>
				<p>We are a team of crypto enthusiasts from Ukraine who have consolidated the efforts and marketing
					resources at creating the UA COIN project
				</p>
				<p>We officially cooperate with charity foundations and public organizations that raise funds for the
					required help.
				</p>
				<p>We are a team of crypto enthusiasts from Ukraine who have consolidated the efforts and marketing
					resources at creating the UA COIN project
				</p>
			</div>
		</div>
	</div>
</section>