<!-- <section class="free">
	<div class="container">
		<div class="free__wrapper">
			<div class="free__check">
				<div class="free__check-contain">
					<div class="free__check-title">Check Locked Wallet</div>
					<div class="free__check-status">
						<div class="free__check-lock">
							<p>UA Coin</p>
							<p>LOCKED</p>
						</div>
						<div class="free__check-lock">
							<p>UNLOCK</p>
							<p>DATE</p>
						</div>
					</div>
					<div class="free__check-buttons">
						<button class="free__check-btn btn btn--361 btn--wallet btn--hole">Wallet Address</button>
						<button class="free__check-btn btn btn--361 btn--confirm btn--hole" type="submit">CONFIRM</button>
						<button class="free__check-btn btn btn--361 btn--claim btn--hole">CLAIM UA Coin</button>
					</div>
				</div>
				<div class="free__check-question">
					<div class="free__check-question-title">How to buy?</div>
					<div class="free__check-answer">Buy on uor website.
						Buy without connecting wallet.</div>
				</div>
				<div class="free__check-question">
					<div class="free__check-question-title">Need Help?</div>
					<div class="free__check-answer">Send us a e-mail, or ask on telegram.</div>
				</div>
			</div>
			<div class="free__wallet">
				<div class="free__wallet-coin">
					<img src="/img/2dcoin.png" alt="UA-coin">
				</div>
				<div class="free__wallet-content">
					<div class="free__wallet-name">BNB Raised</div>
					<div class="free__wallet-sum">358.443 BNB</div>
				</div>
				<div class="free__wallet-content free__wallet-content--second">
					<div class="free__wallet-name">UACoin Price</div>
					<div class="free__wallet-sum">0.0000003 BNB</div>
				</div>
				<div class="free__wallet-dropdown"></div>
				<div class="free__wallet-meaning">
					<div class="free__wallet-box">
						<p>345</p>
						<p>~$</p>
					</div>
					<div class="free__wallet-box">
						<p>74646455.34</p>
						<p>UACoin Price</p>
					</div>
				</div>
				<div class="free__wallet-link">By continuing you accept the <a href="#">Terms of Sales</a></div>
				<button class="free__wallet-btn btn btn--326 btn--confirm btn--hole" type="submit">CONFIRM</button>
			</div>
			<div class="free__content">
				<div class="free__content-img">
					<img src="/img/gets.png" alt="ticket">
				</div>
				<div class="free__content-title">GET 1 FOUNDERS EDITIONS TICKET</div>
				<div class="free__content-subtitle">GIVE ACCESS TO FIRST DRAW, EVENTS AND MORE</div>
				<div class="free__content-text">The founder tickets will allow you to play in our first exclusive draw but also to access events and limited series before everyone else throughout the year. It's like a membership card for a very special club, the first to believe in Winner Block and we want to thank you!</div>
				<div class="free__content-text free__content-text--second">Receive your Founders Ticket by participating in the presale, Founders Editions will be distributed as soon as the presale is over. We will send them to you on the wallet address you used, you don't need to do anything more</div>
				<div class="free__content-referal">
					<div class="free__content-upline">Referral Link</div>
					<div class="free__content-link">
						<div class="free__content-percent">Refer to a friend and earn 10% of the amount.</div>
						<div class="free__content-btn">
							<a href="#" class="btn btn--163">Referral Link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="free__downline">© Copyright 2022 <span>UA Coin.</span> All rights reserved.</div>

		</div>
	</div>
</section> -->